


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar{
    background-color:rgb(9, 87, 70);
    color: rgb(94, 86, 86);
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    position: relative;
    

     /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(9, 87, 70);
    color: white;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;   */

    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(9, 87, 70);
    color: white;
    text-align: center; */
}
.navbar ul{
    display: flex;
}
.navbar ul li{
  list-style:none ;
  text-align: center;
  padding-left: 15%;
  padding-right: 0rem; 
 
}
.navbar ul li a{
    color: azure;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: rgb(35, 114, 157);
}
footer p{
    color: white;
}
footer{
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:rgb(9, 87, 70);
    height: 100%;
    bottom: 0;
    margin-top: 390px; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(9, 87, 70);
    color: white;
    text-align: center;
}

.component{
    text-align: center;
    margin-top: 50px;

}
